header img ,
footer img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

header a {
    text-decoration: none;
    color: #2B3340;
}

/* ---------------Reset------------------ */
header .container,
header .container-lg,
header .container-md,
header .container-sm,
header .container-xl {
    max-width: 1200px !important;
}

footer .container,
footer .container-lg,
footer .container-md,
footer .container-sm,
footer .container-xl {
    max-width: 1200px !important;
}

/* ---------------header------------------ */
header {
    box-sizing: border-box;
    font-family: Arial, Helvetica, Meiryo, Microsoft JhengHei, "微軟正黑體", sans-serif !important;

}

/* ----- logo ----- */
header .haban-logo {
    display: flex;
    margin-right: 8px;
    align-items: flex-end;
}

header .haban-logo-main {
    width: 107px;
    height: 42px;
}

header .haban-logo-mascot {
    display: none;
}

header .navbar {
    background: #FA3461 !important;
}

header .login-for-sp {
    background-color: transparent;
    border: none;
}

header .login-for-sp .material-symbols-outlined {
    color: #fff;
    font-size: 28px;
}

/* ----- item-list ----- */
header .nav-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

header .navbar-toggler {
    border: none;
}

header .navbar-toggler-icon {
    background-image: url(./img/nav-toggler.svg) !important;
}

header .item-group {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #232A3580;
}

header .item-group .btn-close {
    font-size: 20px;
    color: #fff;
    background-image: url(./img/btn-close-white.svg) !important;
    opacity: 1;
}

header .item-group .item-list {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: url(./img//img_menu_bg_activity@2x.png) no-repeat center;
    -ms-touch-action: none;
    touch-action: none;
    background-size: cover;
    padding: 30px;
    text-align: center;
}

header .nav-item {
    display: block;
    position: relative;
}

header .nav-link {
    display: inline-block;
    padding: 8px 0;
    transition: all 0.2s ease-out;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

header .is-m .comp_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}

header .member-list {
    display: none;
}

header .comp_banner {
    display: none;
}

header .dropdown {
    list-style: none;
    display: block;
}

header .dropdown-item.active, 
header .dropdown-item:active {
    text-decoration: none;
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

header .dropdown-toggle .icon {
    position: relative;
    top: 6px;
}

header .dropdown-menu {
    border-radius: 0 !important;
}

header .dropdown-menu li span {
    position: relative;
    top: 6px;
}

header .dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: -2px;
}

header .nav-item:hover .dropdown-toggle::after {
    top: 2px !important;
    -webkit-transform: rotate(225deg) !important;
    transform: rotate(225deg) !important;
}

/* 手機版會員登入 */

.header.modal-member {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: none;
    background: url(./img/menu_bg_member_circle@2x.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
    background-position: top 158px center;
}

.header.modal-member .btn-close {
    margin-left: auto;
    font-size: 25px;
}

.header.modal-member .modal-content {
    background-color: transparent;
    border: none;
    text-align: center;
}

.header.modal-member .member-type {
    color: #232A35;
    font-size: 24px;
    font-weight: bold;
}

.header.modal-member ul {
    padding: 0;
    margin-bottom: 50px;
}

.header.modal-member .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

/* --- 電腦版 --- */
@media (min-width: 992px) {

    header .haban-logo-main {
        width: 138px;
        height: 54px;
    }

    header .haban-logo {
        position: relative;
    }

    header .haban-logo-mascot {
        display: block;
        height: 64px;
        margin-left: 6px;
        position: relative;
        top: 1px;
    }

    header .navbar {
        background: #fff !important;
    }

    header .nav-container {
        width: 100%;
    }

    header .login-for-sp {
        display: none;
    }

    header .item-group {
        position: initial;
        align-items: end;
        width: initial;
        height: initial;
        z-index: 1;
        background-color: transparent;
    }

    header .item-group .item-list {
        position: initial;
        width: initial;
        height: initial;
        border-radius: 0;
        background: none;
        padding: 0;
        text-align: center;
    }

    header .nav-item {
        margin-right: 28px;
    }

    header .nav-item:hover .dropdown-menu {
        display: block;
    }

    header .nav-link {
        color: #2B3340 !important;
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        padding: 4px 0;
    }

    header .comp_banner {
        display: block;
        position: absolute;
        z-index: 1;
        width: 92px;
        height: 38px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 28px;
        -webkit-animation: slide-in-fwd-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both, float-loop-center 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s infinite;
        animation: slide-in-fwd-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both, float-loop-center 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s infinite;
    }

    header .is-m {
        display: none;
    }

    header .member-list {
        display: flex;
        border-left: 1px solid #E3E8F0;
    }

}


/* ---------------footer------------------ */
footer {
    padding: 44px 0 24px 0;
    background: #404753;
    color: #fff;
    display: block
}

footer .footer-content {
    justify-content: space-between;
    color: #fff;
}

/* 上半 */
footer .footer-top-content {
    display: none;
}



/* 下半 */
footer .footer-bottom-content {
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.6px;
}

footer .footer-bottom-content .footer-box p {
    display: none;
}

footer .footer-box .logo-img {
    position: relative;
    top: 5px;
    width: 120px;
    height: initial;
}

footer .media-img {
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

footer .footer-bottom-content .footer-bottom-top-wrap {
    padding-bottom: 24px;
    border-bottom: 1px solid #7f7f7f;
}

/* 版權 */
footer .footer-bottom-content .footer-end-wrap {
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 8px;
}


/* --- 電腦版 --- */
@media (min-width: 992px) {
    footer {
        padding: 64px 0;
    }

    /* 上半 */
    footer .footer-top-content {
        display: flex;
    }

    footer .footer-top-content .href-wrap {
        justify-content: space-between;
    }

    footer .qrcode-img {
        width: 100px;
        height: 100px;
        margin-right: 24px;
    }

    /* 連結清單 */
    footer .footer-box {
        display: flex;
        align-items: center;
    }

    footer .footer-top-content .href-box {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    footer .footer-top-content .href-box .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        padding-bottom: 16px;
    }

    footer .footer-top-content .href-box a {
        padding: 4px 0;
        color: #fff;
        text-decoration: none;
    }

    /* 下半 */
    footer .footer-bottom-content {
        padding-top: 100px;
    }

    footer .footer-bottom-content .footer-box p {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        margin-left: 20px;
        margin-bottom: -10px;
    }

    footer .footer-box .logo-img {
        width: 160px;
    }

    footer.media-img {
        margin-left: 14px;
    }

    /* 版權 */
    footer .footer-bottom-content .footer-end-wrap {
        padding-left: 0;
        padding-top: 24px;
        align-items: end;
        font-size: 13px;
    }

    footer .text-content {
        display: flex;
    }


}







@keyframes slide-in-fwd-bottom {
    0% {
        -webkit-transform: translateZ(-140px) translateY(80px) translateX(-50%);
        transform: translateZ(-140px) translateY(80px) translateX(-50%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(-50%);
        transform: translateZ(0) translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes float-loop-center {
    0% {
        -webkit-transform: translateY(-2px) translateX(-50%);
        transform: translateY(-2px) translateX(-50%);
    }

    20% {
        -webkit-transform: translateY(2px) translateX(-50%);
        transform: translateY(2px) translateX(-50%);
    }

    40% {
        -webkit-transform: translateY(-2px) translateX(-50%);
        transform: translateY(-2px) translateX(-50%);
    }

    60% {
        -webkit-transform: translateY(2px) translateX(-50%);
        transform: translateY(2px) translateX(-50%);
    }

    80% {
        -webkit-transform: translateY(2px) translateX(-50%);
        transform: translateY(2px) translateX(-50%);
    }

    100% {
        -webkit-transform: translateY(-2px) translateX(-50%);
        transform: translateY(-2px) translateX(-50%);
    }
}

@keyframes slide-bottom-to-top {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-65px);
    }

    66% {
        transform: translateY(-130px);
    }

    100% {
        transform: translateY(-190px);
    }

}