img {
    width: 100%;
    vertical-align: top;
}

input:checked+label {
    border-color: #0d6efd;
    /* color: white; */
}
.row{
    --bs-gutter-y: 1.5rem;
}

input {
    display: none;
}

.container label {
    transition: 0.2s;
}
.color{
  
}
.color img{
    width: 32px;
    margin-bottom: 8px;
}
.color h3{
    font-size: 12px;
}

label{
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid #86868b;
    padding: 10px;
    border-radius: 10px;
}
.choose label {

    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    aspect-ratio: 3/2;
    padding: 14px;

}
.category_group label{
    width: 80px;
}

.network_area ,
.storage_area {
    font-size: 20px;
}

.carousel-control-prev,
.carousel-control-next
{
    border-radius: 50%;
    top: 0;
    background-color: rgba(210,210,215,.64);
    color: rgba(0,0,0,.56);
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 1;
    margin:10px;
}
.control{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.next{
    right:0;
}
.control i {
    color: #aaa;
    font-size: 20px;
}
.carousel .carousel-indicators button{
    background-color: #fff;
    width: 8px;
    height: 8px;
    background-color: rgb(29, 29, 31);
    border-radius: 50%;
}

.carousel-inner img{
    border-radius: 15px;
}